:root {
  --bg-primary: #f6d0ce;
  --bg-secondary: #ff8e88;
  --bg-terciary: #ff7b74;
  --bg-fourth: #f4716a;
}
.btn-primary {
  background-color: var(--bg-secondary);
  color: #fff;
  border: none;
  width: 10rem;
  height: 2rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  border-radius: 3px;
  transition: background 1s;
  border: 1px solid var(--bg-primary);
}
body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* font-family: "Roboto", sans-serif; */
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
