@import "../index.css";

.container {
  background-color: #fff;
  background: url("../bg-home3-bis.jpg") repeat center center/cover fixed;
  /* background-position: bottom; */

  overflow-y: hidden;
}

.home-container {
  /* background-color: var(--bg-primary); */
  /* width: 100%; */
  /* max-width: 100%; */
  text-align: center;
  margin-top: 3rem;
}

/* Reaload button */
.home-reload-button {
  background-color: var(--bg-secondary);
  color: #fff;
  border: none;
  width: 10rem;
  height: 2rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  border-radius: 3px;
  transition: background 1s;
  border: 1px solid var(--bg-primary);
}

.home-reload-button:hover {
  background-color: #fff;
  border: 1px solid var(--bg-secondary);
  color: var(--bg-secondary);
  cursor: pointer;
}

/* Filters */
.home-filters-container {
  margin-bottom: 2rem;
  /* display: flex;
  justify-content: center; */
}

.home-filters {
  color: #fff;
  border: 1px solid var(--bg-terciary);
  margin: 0 1rem;
  outline: none;
  font-size: 1rem;
  border-radius: 3px;
  background: var(--bg-secondary);
  width: 10rem;
  height: 2rem;
  transition: background 1s;
}

.home-filters:hover {
  border: 1px solid var(--bg-secondary);
  color: var(--bg-secondary);
  background: #fff;
  cursor: pointer;
}

/* .home-filters__name-order option {
  background: transparent;
} */

.home-recipes-loader {
  color: #666;
  margin: 5rem 7rem;
  white-space: nowrap;
  width: 20rem;
  margin-bottom: 30rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  font-family: "Lobster", cursive;
  font-size: 4rem;
  color: #666;
}

.home-recipes-hourglass {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 5rem 0 0rem 10rem;
}
.home-recipes-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid var(--bg-terciary);
  border-color: var(--bg-terciary) transparent var(--bg-terciary) transparent;
  animation: home-recipes-hourglass 1.2s infinite;
}
@keyframes home-recipes-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.home-recipes-container {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-template-rows: 33% 33% 33%;
  grid-gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.home-recipes-container a {
  /* margin: 2rem auto; */
  width: 20rem;
  height: 350px;
  padding-bottom: 1rem;
  /* border: 1px solid black; */
  background-color: #fff;
  /* box-shadow: #000000 0px 0px 1px 0px; */
  border-radius: 50px;

  /* justify-self: center; */
}

@media screen and (max-width: 1500px) {
  .home-recipes-container a {
    width: 15rem;
    height: 250px;
  }
}
