body {
  background: url("../bg-home3-bis.jpg") no-repeat center center/cover fixed;
}
.recipe-details-container {
  text-align: center;
  margin: 5rem auto;
  width: 80rem;
  font-family: "Sacramento", cursive;
  font-family: 1.5rem;
}

.recipe-details-img {
  border-radius: 50px;
  width: 400px;
  height: 400px;
  /* border: 5px solid var(--bg-terciary); */
}

.recipe-details-title {
  color: var(--bg-terciary);
  font-size: 4.5rem;
}

.recipe-details-dish {
  font-size: 3rem;
  color: #666;
}

.recipe-details-diets {
  color: var(--bg-terciary);
  font-size: 2.5rem;
  font-family: "Pacifico";
}

.recipe-details-summary {
  font-size: 1.8rem;
  /* border: 1px solid salmon; */
  border-radius: 5px;

  /* background-color: #f6d0ce; */
}

.recipe-details-score {
  font-size: 3rem;
  /* text-align: s; */
}

.recipe-details-score span {
  font-size: 2rem;
  color: var(--bg-terciary);
}

.recipe-details-ingredients-title {
  font-size: 3rem;
}

.recipe-details-ingredients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2rem;
}

.recipe-details-ingredients ul {
  list-style-type: circle;
  list-style-position: inside;
}

/* .recipe-details-ingredients li::before {
  content: "";
  background-image: url("../squiggly.png");
  background-size: 40px 40px;
  margin-right: 2px;
  display: inline-block;
  z-index: 9;
  width: 15px;
  height: 15px;
} */

.recipe-details-steps-title {
  font-size: 3rem;
}

.recipe-details-steps {
  font-size: 2rem;
  text-align: center;
}

.recipe-details-btn {
  margin: 1rem auto 1rem auto;
  /* padding: 2rem; */
  height: 4rem;
  width: 4rem;
  position: fixed;
  left: 3rem;
  top: 2rem;
  display: block;
  white-space: wrap;
  background-color: var(--bg-secondary);
  color: #fff;
  /* width: 3rem;
  height: 3rem; */
  font-size: 1rem;
  border-radius: 50%;
  transition: background 1s;
  border: 1px solid var(--bg-primary);
}

.recipe-details-btn:hover {
  background-color: #fff;
  border: 1px solid var(--bg-secondary);
  color: var(--bg-secondary);
  cursor: pointer;
}

/* Loader */
.recipe-details-loader-container {
  display: flex;
  justify-content: start;
}
.recipe-details-loader {
  color: #666;
  margin: 5rem 7rem;
  white-space: nowrap;
  width: 20rem;
  margin-bottom: 30rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  font-family: "Lobster", cursive;
  font-size: 4rem;
  color: #666;
}

.recipe-details-hourglass {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 5rem 0 0rem 10rem;
}
.recipe-details-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid var(--bg-terciary);
  border-color: var(--bg-terciary) transparent var(--bg-terciary) transparent;
  animation: recipe-details-hourglass 1.2s infinite;
}
@keyframes recipe-details-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
